// Montserrat font-faces
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

// Quicksand font-faces

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/Quicksand/static/Quicksand-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/Quicksand/static/Quicksand-Bold.ttf') format('truetype');
}
