@import './blog-typography.scss';

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.page-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  height: 100%;
}

:root {
  --theme-color: #262671;
  --headers-color: #292929;
  --paragraph-color: #444443;
  --subtitle-color: #757575;
  --flash-white: #f3f3f3;
  --gray-line: rgba(61, 61, 61, 0.1);

  --header-bg-size: 3.125rem;
  --header-margin-top: calc(var(--header-bg-size) * -1);

  --gray80: #2a2a40;
  --gray75: #3b3b4f;
  --gray45: #858591;
  --gray15: #0c0c0e;
  --gray10: #dfdfe2;
  --gray05: #eeeef0;
  --gray00: #fff;
  --blue-dark: #002ead;
}

.header-bg {
  background-color: var(--flash-white);
  height: var(--header-bg-size);
}

.page-enter-active,
.page-leave-active {
  transition: all 0.5s;
  transition-timing-function: ease-in-out;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
  transition-timing-function: ease-in-out;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}

.lazyload,
.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 0.5s;
}
