@import './font-faces.scss';
@import './blog-typography.scss';

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 960px;
  min-height: 100vh;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.7s;
  transition-timing-function: ease-in-out;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.7s;
  transition-timing-function: ease-in-out;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}
