@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nuxt-content-highlight {
    @apply relative;

    .filename {
      @apply absolute right-0 text-gray-100 font-light z-10 mr-2 mt-1 text-sm;
    }
  }
  .custom-select {
    @apply cursor-pointer relative rounded-md border border-default-300 bg-white px-2 py-2 text-left;
    &:focus,
    &:focus-within {
      @apply outline-none ring-1 ring-default-300;
    }
  }

  .custom-select-li {
    @apply text-gray-900 select-none relative py-2 pl-2 cursor-pointer block;

    &:focus {
      @apply outline-none text-white bg-default-400;
    }
    &:hover {
      @apply text-white bg-default-400;
    }
  }

  @screen sm {
    .custom-select {
      @apply text-sm leading-5 px-3 py-2;

      .custom-select-li {
        @apply pl-3;
      }
    }
  }
}
