:root {
  --default-color: #292929;
  --default-color-light: #757575;
  --default-color-dark: #f3f3f3;
}

/*! @import */
:root {
  --theme-color: #0a0a23;
  --headers-color: #292929;
  --paragraph-color: #444443;
  --subtitle-color: #757575;
  --flash-white: #f3f3f3;
  --gray-line: rgba(61, 61, 61, 0.1);

  --header-bg-size: 3.125rem;
  --header-margin-top: calc(var(--header-bg-size) * -1);

  --gray80: #2a2a40;
  --gray75: #3b3b4f;
  --gray45: #858591;
  --gray15: #d0d0d5;
  --gray10: #dfdfe2;
  --gray05: #eeeef0;
  --gray00: #fff;
  --blue-dark: #002ead;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nuxt-content-highlight {
    @apply relative;

    .filename {
      @apply absolute right-0 text-gray-100 font-light z-10 mr-2 mt-1 text-sm;
    }
  }
  .custom-select {
    @apply cursor-pointer relative rounded-md border border-default-300 bg-white px-3 py-2 text-left;
    &:focus {
      @apply outline-none ring-1 ring-default-300;
    }
  }

  .custom-select-li {
    @apply text-gray-900 select-none relative py-2 pl-3 cursor-pointer;

    &:focus {
      @apply outline-none text-white bg-default-400;
    }
    &:hover {
      @apply text-white bg-default-400;
    }
  }

  @screen sm {
    .custom-select {
      @apply text-sm leading-5;
    }
  }
}
