:root {
  --default-color: #292929;
  --default-color-light: #757575;
  --default-color-dark: #f3f3f3;
}

/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nuxt-content-highlight {
    @apply relative;

    .filename {
      @apply absolute right-0 text-gray-100 font-light z-10 mr-2 mt-1 text-sm;
    }
  }
  .custom-select {
    @apply cursor-pointer relative rounded-md border border-default-300 bg-white px-3 py-2 text-left;
    &:focus {
      @apply outline-none ring-1 ring-default-300;
    }
  }

  .custom-select-li {
    @apply text-gray-900 select-none relative py-2 pl-3 cursor-pointer;

    &:focus {
      @apply outline-none text-white bg-default-400;
    }
    &:hover {
      @apply text-white bg-default-400;
    }
  }

  @screen sm {
    .custom-select {
      @apply text-sm leading-5;
    }
  }
}
